/*DO NOT CHANGE THIS STRING, PLACE ALL THE NEW INSTRUCTIONS ABOVE*/

.rcolBgStrid1-1 {background-color:#e4e4e4;background-position:53% 0;background-image: url(/img/rcol/nap.100630.jpg);}
.rcolBgStrid1-2 {background-color:#e4e4e4;background-position:57% 0;background-image: url(/img/rcol/man.100908.jpg);}
.rcolBgStrid1-3 {background-color:#ebebeb;background-position:62% 0;background-image: url(/img/rcol/woman.100908.jpg);}
.rcolBgStrid39-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.jpg);}
.rcolBgStrid44-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.010.jpg);}
.rcolBgStrid45-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.002.jpg);}
.rcolBgStrid46-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.080528.002.jpg);}
.rcolBgStrid48-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.004.jpg);}
.rcolBgStrid49-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.006.jpg);}
.rcolBgStrid50-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.008.jpg);}
.rcolBgStrid51-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.009.jpg);}
.rcolBgStrid59-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.005.jpg);}
.rcolBgStrid59-2 {background-color:#f2f0ee;background-position:89% 100%;background-image: url(/img/rcol/pot.080528.100412.jpg);}
.rcolBgStrid78-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.003.jpg);}
.rcolBgStrid94-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.007.jpg);}
.rcolBgStrid95-1 {background-color:#f0f0ee;background-position:69% 100%;background-image: url(/img/rcol/derevo.100529.011.jpg);}
.rcolBgStrid112-1 {background-color:#e9e8eb;background-position:75% 100%;background-image: url(/img/rcol/hank.080528.jpg);}
.rcolBgStrid113-1 {background-color:#f2f0ee;background-position:89% 100%;background-image: url(/img/rcol/pot.080528.jpg);}
.rcolBgStrid114-1 {background-color:#f2f0ee;background-position:98% 100%;background-image: url(/img/rcol/offers.080528.jpg);}
.rcolBgStrid115-1 {background-color:#e6e6e5;background-position:68% 100%;background-image: url(/img/rcol/fish.080528.100415.jpg);}
.rcolBgStrid227-1 {background-image: url(/img/rcol/derevo.140414.jpg);}


.rcolIconStrid1 {position: absolute;bottom: 12px;right: 0;width: 202px;height: 282px;}
.rcolIconStrid1 {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/rcol/_domik.080117.002.png', sizingMethod='image');}
#rcolBg>.rcolIconStrid1 {background: url(/img/rcol/_domik.080117.002.png) no-repeat;filter: none;}

.rcolIconStrid39 {position: absolute;bottom: 12px;right: 0;width: 202px;height: 282px;}
.rcolIconStrid39 {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/rcol/_domik.080117.003.png', sizingMethod='image');}
#rcolBg>.rcolIconStrid39 {background: url(/img/rcol/_domik.080117.003.png) no-repeat;filter: none;}
